<div style="background: rgb(0, 0, 0); width: 100%;">
<div class="container">
    <div class="row" style="color: blanchedalmond; text-align: center;">
        <div class="col-md-3">
            <p routerLink="/Home">Home</p>
        </div>
        <div class="col-md-2">
                <p routerLink="/about">about</p>
            </div>
            <div class="col-md-3">
                    <p routerLink="/map">map</p>
                </div>
                <div class="col-md-2">
                        <p routerLink="/login">log in</p>
                    </div>
                    <div class="col-md-2">
                            <p routerLink="/register">register</p>
                        </div>
    </div>
</div>
</div>