<div style="width: 100%; height: 300px;">
        <img src="assets/cl1.jpg" height="670" width="100%">
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container">
        <h1 style="text-align: center; letter-spacing: 22px;">*   FEATURES styles    *</h1><br><br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <img src="assets/cl3.jpg" height="320" width="250">
            </div>
            <div class="col-lg-3 col-sm-6" style="border: 2px solid rgb(241, 99, 241); ; text-align: center;">
                    <h2 style="margin-top: 50px;color: rgb(96, 187, 247);">W MOTORS LYKAN</h2>
                    <p>Engine:3.7 L twin-turbocharged flat-six<br>
                            Transmission:7-speed dual-clutc</p>
                    <h2 style="color: rgb(96, 187, 247);">Price 3.4M$</h2>
                </div>
                <div class="col-lg-3 col-sm-6">
                        <img src="assets/cl4.jpg" height="320" width="250"> 
                    </div>
                        <div class="col-lg-3 col-sm-6" style="border: 2px solid rgb(241, 99, 241); ; text-align: center;">
                                <h2 style="margin-top: 50px;color: rgb(96, 187, 247);">McLaren P1 LM</h2>
                                <p>Engine:4.0 L M840TR twin-turbocharged V8<br>
                                        Transmission:7-speed dual-clutc</p>
                                <h2 style="color: rgb(96, 187, 247);">Price 3.6M$</h2>
                            </div>
        </div>
    </div><br><br><br>
    <div class="container">
            <h1 style="text-align: center; letter-spacing: 22px;">*   LATEST styles   *</h1><br><br>
            <div class="row">
                <div class="col-md-3 col-sm-12" *ngFor="let x of y">
                    <img src="{{ x }}" height="320" width="280">
                </div> 
            </div>
    </div><br><br><br>
    <div class="container">
        <h2 style="text-align: center;">You Will Find All You Need About Top Expensive styles In Our Page</h2>
    </div>


